
{% extends "base.html" %} 
{% block title %}Achievements{% endblock title %}
{% block body %}
{% comment %} creating the page to tell about my college Achievements {% endcomment %}
<div class="container px-4 py-5" id="featured-3" style="background-color:rgb(233, 227, 228); margin-top:10px;">
    <h2 class="pb-2 border-bottom">Achievements with icons</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <img width="80" src="static/aitm.png" alt="" srcset="">
            </div>
            <h3 class="fs-2 text-body-emphasis">Ktech Nain</h3>
            <p>The New Age Incubation Network Centre at Angadi Institute of Technology & Management, is established in
                September 2022. The centre shall focus on igniting the young minds and provide the necessary
                infrastructure and mentoring to take the concepts of the students from idea to POC stage and then give
                them the necessary guidance and provide the platform to become successful entrepreneurs.</p>
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <img width="100" src="static/logo3.png" alt="">
            </div>
            <h3 class="fs-2 text-body-emphasis">Acm Collabration</h3>
            <p>Our college Angadi Institute of Technology And Management collaborates with the ACM Student Chapter to
                provide students with opportunities to engage in computing and technology-related activities.
                collaborates with the ACM Student Chapter to provide students with opportunities to engage in computing
                and technology-related activities.</p>
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <img width="140" src="static/acm.svg" alt="">
            </div>
            <h3 class="fs-2 text-body-emphasis">project perposal</h3>
            <p>Automatic waste segregation technology 2. UAV System for detecting multiclass plant diseases using ML
                algorithm.
                3. Unified Re-Vendo-matic 4. Design and development of Multi-mode Solar Dryer for food storage
                5. Road damage assessment and mitigation Self-Automated Drone For patrolling
                7. Automated Cashew Sorting Machine
                8. Programmable automated capsule sorting machine
            </p>
        </div>
    </div>
</div>
{% endblock body %}